.main {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
  }
   
  body {
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    background: #3d9970;
  }
   
  .pxls {
    height: 31.25px;
    width: 31.25px;
    background: white;
    border: 0px solid black;
    margin: 0;
    padding: 0;
  }
   
  .btns {
    display: flex;
    gap: 1vw;
  }
   
  